<ion-header>
  <ion-toolbar color="danger tint">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/usuario']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cadastro de usuarios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="usuarioForm">
    <div class="input-item--container">
      <ion-label class="input-label">Nome:</ion-label>
      <ion-item lines="none">
        <ion-input
          id="nome"
          placeholder="Digite o nome..."
          formControlName="nome"
          type="text"
        >
        </ion-input>
        <br />
        <ion-text
          color="danger"
          *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)"
        >
          <small *ngIf="nome?.errors?.['required']">
            O campo nome é obrigatório
          </small>
          <small *ngIf="nome?.errors?.['minlength']">
            O campo nome deve conter no mínimo
            {{ nome?.errors?.['minlength'].requiredLength }} caracteres
          </small>
          <small *ngIf="nome?.errors?.['maxlength']">
            O campo nome deve conter no máximo
            {{ nome?.errors?.['maxlength'].requiredLength }} caracteres
          </small>
        </ion-text>
      </ion-item>
    </div>

    <div class="input-item--container">
      <ion-label class="input-label">Email:</ion-label>
      <ion-item lines="none">
        <ion-input
          id="email"
          placeholder="Digite o nome..."
          formControlName="email"
          type="email"
        >
        </ion-input>
        <br />
        <ion-text
          color="danger"
          *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        >
          <small *ngIf="email?.errors?.['required']">
            O campo email é obrigatório
          </small>
          <small *ngIf="email?.errors?.['minlength']">
            O campo email deve conter no mínimo
            {{ email?.errors?.['minlength'].requiredLength }} caracteres
          </small>
          <small *ngIf="email?.errors?.['maxlength']">
            O campo email deve conter no máximo
            {{ email?.errors?.['maxlength'].requiredLength }} caracteres
          </small>
        </ion-text>
      </ion-item>
    </div>

    <div class="input-item--container">
      <ion-label class="input-label">Pessoa:</ion-label>
      <ion-item lines="none">
        <ion-select
          id="pessoa"
          placeholder="informe a pessoa referente ao usuário..."
          formControlName="pessoa"
          interface="popover"
          [value]="selectedPessoa.id"
        >
          <ion-select-option
            *ngFor="let pessoa of pessoas"
            [value]="pessoa.id"
            >{{ pessoa.nome }}</ion-select-option
          >
        </ion-select>
      </ion-item>
    </div>

    <div class="input-item--container">
      <ion-item lines="none">
        <ion-checkbox color="success"  formControlName="ativo">O usuário está ativo?</ion-checkbox>     
      </ion-item>
      <ion-item lines="none">
        <ion-checkbox color="success" formControlName="administrador">O usuário é um administrador?</ion-checkbox> 
      </ion-item>
    </div>

    <ion-button color="success" class="salvar-form--button" (click)="salvar()" [disabled]="!usuarioForm.valid">Salvar</ion-button>
  </form>
</ion-content>
