<ion-header>
  <ion-toolbar color="danger tint">
    <ion-icon
      slot="start"
      name="desktop-outline"
      class="header-icon"
    ></ion-icon>
    <ion-title>Meios de atendimento</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <search-input
    url="atendimento-meio"
    propriedade="nome"
    (afterLoad)="setMeios($event)"
  ></search-input>
  <ion-item-divider></ion-item-divider>
  <ion-list lines="none">
    <div>
      <ion-item *ngFor="let meio of meios">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>{{meio.nome}}</ion-card-title>
          </ion-card-header>
          <ion-buttons class="buttons--container">
            <ion-button
              class="custom-button"
              color="primary"
              fill="solid"
              [routerLink]="['edicao', meio.id]"
            >
              <ion-icon name="create" slot="start"></ion-icon>
              Editar
            </ion-button>
            <ion-button
              class="custom-button"
              color="danger"
              fill="solid"
              (click)="confirmarExclusao(meio)"
            >
              <ion-icon name="trash" slot="start"></ion-icon>
              Deletar
            </ion-button>
          </ion-buttons>
        </ion-card>
      </ion-item>
    </div>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="danger tint" [routerLink]="['cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<app-footer-toolbar></app-footer-toolbar>
