<ion-header>
  <ion-toolbar color="danger tint">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/atendimento-meio']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons> 
    <ion-title>Cadastro de meios</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="atendimentoMeioForm">
    <div class="input-item--container">
      <ion-label class="input-label">Nome:</ion-label>
      <ion-item lines="none">
        <ion-input
          id="nome"
          placeholder="Digite o nome..."
          formControlName="nome"
          type="text"
        >
        </ion-input>
        <br />
        <ion-text
          color="danger"
          *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)"
        >
          <small *ngIf="nome?.errors?.['required']">
            O campo descrição é obrigatório
          </small>
          <small *ngIf="nome?.errors?.['minlength']">
            O campo descrição deve conter no mínimo
            {{ nome?.errors?.['minlength'].requiredLength }} caracteres
          </small>
          <small *ngIf="nome?.errors?.['maxlength']">
            O campo descrição deve conter no máximo
            {{ nome?.errors?.['maxlength'].requiredLength }} caracteres
          </small>
        </ion-text>
      </ion-item>
    </div>

    <ion-button color="success" class="salvar-form--button" (click)="salvar()" [disabled]="!atendimentoMeioForm.valid">Salvar</ion-button>
  </form>
</ion-content>