<ion-footer [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="secondary" class="toolbar-buttons--container">
            <ion-button>
              <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="home-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>