ion-input.search-input {
    width: 90%;
    max-height: 8% !important;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px !important;
    border: 1px solid #E3E6EF !important;
    margin: 1rem 0 -0.3rem 0.8rem;
    text-indent: 7%;
    background-color: #cccccc;
    color: black;
    display: flex;
    align-items: center;
}

ion-icon.search-icon {
    font-size: 1.4rem;
    margin-left: 1rem;
    color: black;
}